* { /*Глобальные стили и сброс */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #f7f8fc;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}
#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#titleBar { /* Верхняя панель */
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    height: 40px;
    text-align: center;
}
#titleBar .sceneName {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 5px;
  background-color: rgba(58,68,84,0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
#titleBar .title-logo {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
#titleBar .title-logo img {
    height: 30px; 
    width: auto;
    display: block;
    opacity: 0.9;
    transition: opacity 0.2s;
}
#sceneInfoToggle { /* Кнопка "Информация о сцене" */
    display: block;
    position: absolute;
    top: 0;
    right: 440px;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}
body.scene-info-enabled #sceneInfoToggle {
  display: block;		
}
#sceneInfoToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(103, 115, 131, 0.8);
  background-color: transparent; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
#sceneInfoToggle .icon img {
  width: 60%;
  height: 60%;
  opacity: 0.9;
}
/* Маркер перемещения */
.link-hotspot {
  width: 20px;
  height: 20px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.no-touch .link-hotspot:hover {opacity: 1;}
.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; 
  margin-left: 3px;
  font-size: 16px;
  max-width: 300px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      opacity 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              opacity 0.3s;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* Prevent tooltip from triggering */
.link-hotspot-tooltip {pointer-events: none;}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}
/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {display: none;}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}
/* Маркер (хотспот) */
.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  transition: opacity 0.2s 0.2s;
}
.info-hotspot .info-hotspot-header {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(18, 18, 18, 0.6);
  border: 2px solid rgba(200, 200, 200, 0.9);
  cursor: pointer;
  display: flex;
  align-items: center;     
  justify-content: center;  
}
.info-hotspot .info-hotspot-icon {
  width: 70%;       
  height: 70%;
  margin: 15%;
}
.info-hotspot .info-hotspot-close-wrapper { display: none}
.info-hotspot .info-hotspot-close-icon {
    width: 90%;
    height: 90%;
    margin: 15%;
}
.info-hotspot .info-hotspot-text {display: none;}
/* Подсказка при наведении на маркер */
.info-hotspot .info-hotspot-title-wrapper {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  padding: 6px 12px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  background-color: rgba(35, 35, 38, 0.7);
  border-radius: 4px;
  transition: opacity 0.3s;
}
.no-touch .info-hotspot:hover .info-hotspot-title-wrapper {
    opacity: 1;
    visibility: visible;
}
.info-hotspot-modal, #sceneInfoModal {
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 11000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
#sceneInfoModal {top: 0;}
.info-hotspot-modal {top: 25px;}
.info-hotspot-modal.visible, #sceneInfoModal.visible {
    display: flex;
    opacity: 1;
    visibility: visible;
}
/*  Шапка информационного окна*/
.info-hotspot-modal .info-hotspot-header, #sceneInfoModal .scene-info-header {
    position: relative;
    width: 90%;
    max-width: 1024px;
    min-height: 50px;
    background-color: rgba(29, 29, 31, 0.95);
    margin: 40px auto 0 auto;
    padding: 0 50px 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px 5px 0 0;
}
/*Шапка информационного окна (иконка "i", заголовок, кионка "x"*/
.info-hotspot-modal .info-hotspot-header, #sceneInfoModal .scene-info-header {
    display: grid;
    grid-template-columns: 30px 1fr; 
    gap: 12px;
}
.info-hotspot-modal .info-hotspot-title, #sceneInfoModal .scene-info-title-wrapper {
    font-weight: bold;
    font-size: 18px;
    color: #f7f8fc;
    text-align: center;
    line-height: 1.2em;
    margin: 0;
}
.info-hotspot-modal .info-hotspot-icon-wrapper, #sceneInfoModal .scene-info-icon-wrapper {
    width: 32px; 
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-hotspot-modal .info-hotspot-icon, #sceneInfoModal .scene-info-icon {
    width: 60%; 
    height: 60%; 
    margin: 0;
    object-fit: contain;
}
/* Иконка закрытия окна (крестик) */
.info-hotspot-modal .info-hotspot-close-wrapper, #sceneInfoModal .scene-info-close-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 32px;
    height: 32px;
    min-width: 32px; 
    min-height: 32px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* иконка-картинка внутри крестика */
.info-hotspot-modal .info-hotspot-close-icon, #sceneInfoModal .scene-info-close-icon {
    width: 60%;
    height: 60%;
    margin: 0;
    object-fit: contain;
}
/* Текстовые поля модальных окон */
.info-hotspot-modal .info-hotspot-text, #sceneInfoModal .scene-info-text {
    width: 90%;
    max-width: 1024px;
    max-height: 75vh;
    overflow-y: auto;
    padding: 30px;
    background-color: rgba(35, 35, 38, 0.95);
    border-radius: 0 0 5px 5px;
    color: #f7f8fc;
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.6em;
    box-sizing: border-box;
}
/* Стилизация контента внутри окон */
.info-hotspot-text .content-block {margin-bottom: 25px;}
.info-hotspot-text .content-text {text-align: justify;}
.info-hotspot-text img, .info-hotspot-text video, .scene-info-image {
    display: block;
    margin: 20px auto;
    max-height: 400px;
    max-width: 100%;
    border-radius: 8px;
}
.info-hotspot-text .content-note, .scene-info-note {
    margin: 10px auto 20px;
    text-align: center;
    font-style: italic;
    color: #ccc;
    font-size: 14px;
}
.info-hotspot-text .content-model, .info-hotspot-text model-viewer {
    width: 100%;
    height: 500px;
    margin: 15px auto;
    background: rgba(35, 35, 35, 0.2);
}
/*кнопки управления углом обзора*/
.viewControlButton { 
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}
body.view-control-buttons .viewControlButton { display: block;}
.viewControlButton .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}
.viewControlButton-1 {margin-left: -145px;}
.viewControlButton-2 {margin-left: -95px;}
.viewControlButton-3 {margin-left: -45px;}
.viewControlButton-4 {margin-left: 5px;}
.viewControlButton-5 {margin-left: 55px;}
.viewControlButton-6 {margin-left: 105px;}
/* Нижнее меню */
.bottom-toolbar {
    position: absolute;
    bottom: 0px;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 15px;
    background: rgba(0, 0, 0, 0.4);
    padding: 6px 6px;
}
.bottom-toolbar img { width: 30px; height: 30px; cursor: pointer;}
.toolbar-right {display: flex;gap: 15px;}
.toolbar-left {display: flex;gap: 15px;}
.bottom-toolbar .icon.off {display: block;}
.bottom-toolbar .icon.on {display: none;}
.bottom-toolbar a.enabled .icon.off {display: none;}
.bottom-toolbar a.enabled .icon.on {display: block;}
.menu-wrapper {position: relative;}
.hidden-menu { /*скрытое меню*/
    position: absolute;
    bottom: calc(100% + 10px);
    right: 0;
    display: flex;
    flex-direction: column; 
    gap: 8px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    z-index: 101;
    display: none;
}
.hidden-menu.open {display: flex;}
.hidden-menu a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.15s;
}
.hidden-menu img, .hidden-menu .icon {width: 30px; height: 30px;}
/*Кнопка автоматического поворота*/
#autorotateToggle .icon.on {display: none;}
#autorotateToggle .icon.off {display: block;}
#autorotateToggle.enabled .icon.on {display: block;}
#autorotateToggle.enabled .icon.off {display: none;}
/* AudioBtn */
#audioBtn .icon.off {display: block;}
#audioBtn .icon.on {display: none;}
#audioBtn.enabled .icon.off {display: none;}
#audioBtn.enabled .icon.on {display: block;}
/* Обёртка плеера */
.audio-wrapper {position: relative;}
/* Панель управления (прогресс + время) */
#audioBar {
    position: absolute;
    bottom: 0;
    right: 40px;
    z-index: 100;
    display: none; 
    flex-direction: column;
    gap: 6px;
    width: 150px;
}
.audio-wrapper.enabled:hover #audioBar { display: flex;}
/* Панель появляется при наведении на весь нижний тулбар */
.bottom-toolbar:hover #audioBar {
    display: flex;
}
#audioSeek { /* Ползунок перемотки */
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    background: #444;
    border-radius: 2px;
    cursor: pointer;
}
#audioSeek::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}
#audioTime { /* Время */
    font-size: 11px;
    color: #ccc;
    text-align: center;
}
/* Окно навигации */
#sceneList { 
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(35, 35, 38, 0.8);
    overflow-y: auto;
    margin-left: -700px; /* Скрыт за левым краем */
    transition: margin-left 0.5s ease-in-out;
}
#sceneList.enabled {margin-left: 0;}
.sceneList-inner {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#sceneList .scenes { /* Левая колонка: список сцен  */
    width: 250px;
    min-width: 250px;
    overflow-y: auto;
    background-color: rgba(35, 35, 38, 0.8);
    flex-shrink: 0;
}
#sceneList .scene {display: block; width: 100%; height: 30px;}
#sceneList .scene .text {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.no-touch #sceneList .scene:hover, #sceneList .scene.current {
    background-color: rgba(103, 115, 131, 0.8);
}
.floorplan-right { /* Правая колонка: карта сверху, кнопки снизу */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(35, 35, 38, 0.4);
    padding: 20px;
    overflow: hidden;
}
.floorplan { /* Карта справа — всё оставшееся место */
    position: relative;
    padding: 20px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: left;
}
.map-wrapper {
    position: relative; 
    display: inline-block;
}
.floorplan-image { /* Картинка плана */
    width: 440px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    display: block;
}
.floor-point { /* Точки на карте */
    position: absolute;
    width: 12px;
    height: 12px;
    background: black;
    border: 3px solid gray;
    box-sizing: border-box;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
}
.floor-point.visible {display: block;}
.floor-toggle { /*Контейнер для кнопок переключения этажей*/
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.floor-label { /* Текстовая подпись "Этаж:"*/
    font-size: 25px;
    color: #aaa; 
    font-weight: normal;
    pointer-events: none;
} 
.floor-btn { /*"Обычное" состояние кнопки*/
    width: 40px; 
    height: 40px; 
    display: flex;
    background: rgba(35, 35, 38, 0.8);
    color: #aaa;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background 0.2s, color 0.2s;
}
.floor-btn.active { /*"Активное" состояние кнопки*/
    background: rgba(103, 115, 131, 0.9);
    color: #fff;
    font-weight: bold;
}
.control-button {
  position: absolute;
  bottom: 20px;
  right: 80px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}
.control-button .icon {width: 28px; height: 28px; display: none;}
.control-button .icon.off {display: block;}
.control-button.enabled .icon.off {display: none;}
.control-button.enabled .icon.on {display: block;}
#preloader { /*Загрузочный экран*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 11999;
}
#preloader div {
    background: #fff;
    width: 85%;
    max-width: 1000px;
    padding: 12px 15px;
    border-radius: 6px;
    font-size: 15px;
    color: #111;
    text-align: center;
    box-sizing: border-box;
    top: 50%; 
    position: absolute;
    left: 0;
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    }
/* Стиль текстовой кнопки выхода из VR */
#close-vr-btn {
    position: absolute !important;
    top: 25px !important;
    left: 25px !important;
    z-index: 99999999 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    cursor: pointer !important;
    text-decoration: underline !important;
}
/* Отображение элементов для мобильной версии */
@media (max-width: 768px) {
#titleBar .sceneName {
    background-color: transparent !important;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}
#titleBar .title-logo {display: none !important;}
#sceneInfoToggle {
    right: 12%; 
    top: 0px; 
    width: 14px;
    height: 14px;
    z-index: 10;
}
#sceneInfoToggle .icon {border: 1px solid #ffffff !important;}
/* Пропорционально уменьшаем размеры всех иконок нижнего меню */
.bottom-toolbar {
    padding: 6px 10px;
    gap: 10px;
}
.bottom-toolbar img {
    width: 22px !important;
    height: 22px !important;
}
.toolbar-left, .toolbar-right {gap: 10px;}
.viewControlButton, /*Скрыть стрелки поворота панорамы*/
body.view-control-buttons .viewControlButton {
    display: none !important;
}
.link-hotspot { /*точки переходов*/
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
/* МОБИЛЬНАЯ ТИПОГРАФИКА: Оптимизация вывода текстовых блоков */
.info-hotspot-modal .info-hotspot-text,
#sceneInfoModal .scene-info-text {
    width: 95%;
    padding: 16px; 
    font-size: 14px;
    line-height: 1.5em;
    text-indent: 1em;
    max-height: 70vh;
}
.info-hotspot-modal .info-hotspot-header,
#sceneInfoModal .scene-info-header {
    width: 95%;
    min-height: 45px;
    margin: 10% auto 0 auto;
}
.info-hotspot-modal .info-hotspot-title,
#sceneInfoModal .scene-info-title-wrapper {
    font-size: 15px;
}
.info-hotspot-text img,
.info-hotspot-text video,
.scene-info-image {
    max-height: 220px;
    max-width: 100%;
    margin: 10px auto;
}
.info-hotspot-text .content-model,
.info-hotspot-text model-viewer {
    height: 300px; /* Высота окна 3D-модели */
}
#sceneList {width: 100%; margin-left: -100%;}
#sceneList.enabled {margin-left: 0;}
.sceneList-inner {flex-direction: column;}
#sceneList .scenes {
    width: 100%;
    height: 40%;
    min-height: 150px;
}
.floorplan-right { width: 100%; height: 60%; padding: 10px;}
.floorplan-image {width: 100%; max-height: 200px;}
}

/* Когда открыта стартовая сцена - скрываются кнопки */
body.is-start-screen #bottom-toolbar, /* Нижее меню */
body.is-start-screen #viewUp, /* Стрелка вверх */
body.is-start-screen #viewDown, /* Стрелка вниз */
body.is-start-screen #viewLeft, /* Стрелка влево */
body.is-start-screen #viewRight, /* Стрелка вправо */
body.is-start-screen #viewIn, /* Зум + */
body.is-start-screen #viewOut /* Зум - */
{ 
    display: none !important;
}